[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-utils = "*"
aiohttp-remotes = "*"
envparse = "*"
"aiohttp-jinja2" = "*"
structlog = "*"
sdc-cryptography = "*"
aiohttp-session = {extras = ["aioredis"],version = "*"}
cchardet = "*"
aiodns = "*"
"iso8601" = "*"
invoke = "*"
aioredis = "*"
python-json-logger = "*"
requests = "*"
idna_ssl = "*"
flask = "*"
jsonify = "*"
python-dateutil = "*"
authlib = "*"
google-api-python-client = "*"
google-auth = "*"
# Introduced for SAML
OneLogin = "*"
python3-saml = "*"

[dev-packages]
codecov = "*"
coverage = "*"
ipython = "*"
"flake8" = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
aiohttp-devtools = "*"
aioresponses = "*"
retrying = "*"

[requires]
python_version = "3.6.9"

