.test-para {
    font-family: "Comic Sans MS", serif;
    font-size: x-large;
    color: #9C1A1C;
}

.grid__col {
    width: auto;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(3, [row] auto  );
    padding-bottom: 100px;
}

.grid-container-recruitment {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(4, [row] auto  );
    padding-bottom: 100px;
}
.emp-headers {
    font-weight: bold;
}

.emp-details {
    grid-column: col / span 2;
    grid-row: row;
    padding: 0;
}

.emp-job-role {
    grid-column: col 3 / span 2;
    grid-row: row;
}

.emp-employment-status {
    grid-column: 1 / span 3;
    grid-row: row 2;
}

.emp-personal-details {
    grid-column: col 3 / span 2;
    grid-row: row 2;
}

.emp-personal-details-hr {
    grid-column: col 3 / span 2;
    grid-row: row 1;
}

.emp-other-personal-details {
    grid-column: 1 / span 2;
    grid-row: row 3;
}

.emp-diversity-information {
    grid-column: col 3 / span 2;
    grid-row: row 2;
}

.emp-diversity-information-recruitment {
    grid-column: col 3 / span 2;
    grid-row: row 3;
}

.emp-device-details {
    grid-column: col / auto;
    grid-row: row 3;
}

.emp-device-details-recruitment {
    grid-column: col / auto;
    grid-row: row 4;
}

table.tab-emp-details th{
    vertical-align: center;
    text-align: left;
    padding-right: 15px;
}
table.tab-emp-details td{
    vertical-align: center;
    text-align: left;
}

form ul { list-style-type: none; }

form ul li { display: inline-block }