{% macro fsdrSearch(params) %}
    {% from 'components/radios/_macro.njk' import onsRadios %}
    {% from "components/select/_macro.njk" import onsSelect %}
    {% from 'components/question/_macro.njk' import onsQuestion %}
    {% from "components/input/_macro.njk" import onsInput %}
    {% from 'components/button/_macro.njk' import onsButton %}
    {% from 'components/panel/_macro.njk' import onsPanel %}
    {% from "components/label/_macro.njk" import onsLabel %}
    {% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}


    {% set action = params.action %}

    {% set search_button_text = 'Search' %}

    {% set previousSurnameFilter = '' %}
    {% set previousArea = '' %}
    {% if params.previous_surname_filter %}
        {% set previousSurnameFilter = params.previous_surname_filter %}
    {% endif %}
    {% if params.previous_area %}
        {% set previousArea = params.previous_area %}
    {% endif %}

	{% if params.search_section_accordioned %}
		<div id="accordion" class="accordion">
		<details id="accordion-1" class="details js-collapsible details--accordion details--initialised" data-btn-close="Hide" data-group="accordion" role="group">
		<summary class="details__summary js-collapsible-summary" role="link" aria-controls="accordion-1" aria-expanded="false" data-ga-action="Close panel">
		<div class="details__heading"><span class="details__title u-fs-r--b">Expand for Advanced Search Options</span></div></summary>
		<div id="accordion-1-content" class="details__content js-collapsible-content" aria-hidden="true">
		<dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-l">
		<dt class="grid__col col-40@m">
	{% endif %}


    {% if params.index_search == "microservice" %}
        <table>
                {{onsLabel({
                        "id": 'label',
                        "for": "some-input",
                        "text": "Filter " + params.microservice_title})}}

		
		{% set col = namespace(value=-1) %}
		{% set row = namespace(value=0) %}
		{% set max_col = 2 %}
		{% for field in params.Fields %}
		    {% if field.search_box_visible %}
			{# Update  the col/row  values for the next  searchitem  #}
			{% if col.value == max_col %}
				{% set row.value = row.value + 1 %}
				{% set col.value = 0 %}
			{% else %}
				{% set col.value = col.value + 1 %}
			{% endif %}

			{# If a  new row  required, start "tablerow" #}
			{% if col.value == 0 %}
				</tr>
				<tr>
				<td>
			{% else %}
				<td>
			{% endif %}
			
			{# Code to generate actual searchui here #} 
			{% if field.search_type == "input_box" %}
				{{onsInput({
                            		"id"   : field.database_name,
					"name" : field.database_name,
					"label": { "text": field.column_name },
					"value": field.previous_value,   })}}
			{% elif field.search_type == "dropdown" %}
				{{onsSelect({
					"id"   : field.database_name,
					"name" : field.database_name,
					"label": { "text": field.column_name },
					"options": field.dropdown_options })}}
			{% elif field.search_type == "checkbox" %}
				<h3>&nbsp </h3>
				{{onsCheckbox({
					"id": field.database_name,
					"name": field.database_name,
					"label": {"text": field.column_name}, 
					"value": True,
					"checked": field.checkbox_value,
				})}}

			{% endif %}

			{# End table row/element #} 
			{% if col.value == 0 %}
				<td>
				{{onsInput({
				"type": "hidden",
				"classes": "u-d-no",
				"id": "adlocation",
				"name": "adlocation",
				"value": adlocation,
				"label": {
				"text": "Enter some text",
				"classes": "u-d-no"}})}}
				</td>
			{% else %}
				</td>
			{% endif %}
		    {% endif %}
		{% endfor %}
		</table>

		{% if params.search_section_accordioned %}
			</dt>
			<dd class="metadata__value grid__col col-40@m"></dd></dl></div>
			</details>
			</div>
		{% endif %}
	
    {% else %}
    {% endif %}
    <br>
{% endmacro %}
