{% macro fsdrSearch(params) %}
    {% from 'components/radios/_macro.njk' import onsRadios %}
    {% from "components/select/_macro.njk" import onsSelect %}
    {% from 'components/question/_macro.njk' import onsQuestion %}
    {% from "components/input/_macro.njk" import onsInput %}
    {% from 'components/button/_macro.njk' import onsButton %}
    {% from 'components/panel/_macro.njk' import onsPanel %}
    {% from "components/label/_macro.njk" import onsLabel %}

    {% set action = params.action %}

    {% set search_button_text = 'Search' %}

    {% set previousSurnameFilter = '' %}
    {% set previousArea = '' %}
    {% if params.previous_surname_filter %}
        {% set previousSurnameFilter = params.previous_surname_filter %}
    {% endif %}
    {% if params.previous_area %}
        {% set previousArea = params.previous_area %}
    {% endif %}

    {% if params.index_search == True %}
        <table>
            <tr>
                {{
                    onsLabel({
                        "id": 'label',
                        "for": "some-input",
                        "text": 'Filter field workers'
                    })
                }}
                <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "job_role_select",
                            "label": {
                                "text": "Job Role"
                            },
                            "options": params.distinct_job_roles
                        })
                    }}
                </td>
                <td>
                    {{
                        onsInput({
                            "id": "text",
                            'name': "filter_surname",
                            "label": {
                                "text": "Worker Surname"
                            },
                            "value": params.previous_surname_filter
                        })
                    }}
                </td>
                <td>
                    {{
                        onsInput({
                            "id": "text",
                            'name': "filter_area",
                            "label": {
                                "text": "Area"
                            },
                            "value": params.previous_area
                        })
                    }}
                </td>
                {{
                    onsInput({
                        "type": "hidden",
                        "classes": "u-d-no",
                        "id": "adlocation",
                        "name": "adlocation",
                        "value": adlocation,
                        "label": {
                            "text": "Enter some text",
                            "classes": "u-d-no"
                        }
                    })
                }}
            </tr>
         <table>
         {{
            onsInput({
                "type": "hidden",
                "classes": "u-d-no",
                "id": "indexsearch",
                "name": "indexsearch",
                "value": indexsearch,
                "label": {
                    "text": "Enter some text",
                    "classes": "u-d-no"
                }
            })
        }}


    {% elif params.index_search == "IAT" %}
        <table>
            <tr>
                {{
                    onsLabel({
                        "id": 'label',
                        "for": "some-input",
                        "text": "Filter Interface Action Table"
                    })
                }}

                <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "job_role_select",
                            "label": {
                                "text": "Job Role"
                            },
                            "options": params.distinct_job_roles
                        })
                    }}
                </td>

                <td>
                    {{
                        onsInput({
                            "id": "text",
                            'name': "filter_surname",
                            "label": {
                                "text": "Worker Surname"
                            },
                            "value": params.previous_surname_filter
                        })
                    }}
                </td>
                <td>
                    {{
                        onsInput({
                            "id": "text",
                            'name': "filter_unique_employee_id",
                            "label": {
                                "text": "Employee ID"
                            },
                            "value": params.unique_employee_id
                        })
                    }}
                </td>
                {{
                    onsInput({
                        "type": "hidden",
                        "classes": "u-d-no",
                        "id": "adlocation",
                        "name": "adlocation",
                        "value": adlocation,
                        "label": {
                            "text": "Enter some text",
                            "classes": "u-d-no"
                        }
                    })
                }}
        </tr>
	<tr>
                <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "gsuite",
                            "label": {
                                "text": "Gsuite Status"
                            },
                            "options": params.iat_options
                        })
                    }}
                </td>
                <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "xma_select",
                            "label": {
                                "text": "XMA Status"
                            },
                            "options": params.iat_options
                        })
                    }}
                </td>
                <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "granby_select",
                            "label": {
                                "text": "Granby Status"
                            },
                            "options": params.iat_options
                        })
                    }}
                </td>

	</tr>
	<tr>
	      <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "loneWorker_select",
                            "label": {
                                "text": "Lone Worker Status"
                            },
                            "options": params.iat_options
                        })
                    }}
                </td>
	      <td>
                    {{
                        onsSelect({
                            "id": "select",
                            'name': "serviceNow_select",
                            "label": {
                                "text": "Service Now Status"
                            },
                            "options": params.iat_options
                        })
                    }}
                </td>
               </td>

	</tr>

         <table>
         {{
            onsInput({
                "type": "hidden",
                "classes": "u-d-no",
                "id": "indexsearch",
                "name": "indexsearch",
                "value": indexsearch,
                "label": {
                    "text": "Enter some text",
                    "classes": "u-d-no"
                }
            })
        }}
    {% else %}
        {{
            onsInput({
                "id": "text",
                'name': "filter_firstname",
                "label": {
                    "text": "First Name"
                }
            })
        }}
        {{
            onsInput({
                "id": "text",
                'name': "filter_surname",
                "label": {
                    "text": "Surname"
                }
            })
        }}
        {{
            onsInput({
                'id': 'filter_email',
                'name': 'filter_email',
                'label': {
                    'text': 'ONS ID'
                }
            })
        }}
        {{
            onsInput({
                "id": "text",
                'name': "filter_badge",
                "label": {
                    "text": "ID Badge Number"
                }
            })
        }}
        {{
            onsInput({
                "id": "text",
                'name': "filter_area",
                "label": {
                    "text": "Area"
                }
            })
        }}
        {{
            onsSelect({
                "id": "select",
                'name': "job_role_select",
                "label": {
                    "text": "Job Role"
                },
                "options": params.distinct_job_roles
            })
        }}
        {{
            onsInput({
                "id": "text",
                'name': "filter_jobid",
                "label": {
                    "text": "Role ID"
                }
            })
        }}
        {{
            onsSelect({
                "id": "select",
                'name': "assignment_select",
                "label": {
                    "text": "Assignment Status"
                },
                "options": params.all_assignment_statuses
            })
        }}
    {% endif %}
    <br>
{% endmacro %}
