{% extends 'layout/_template.njk' %}
{% from 'components/button/_macro.njk' import onsButton %}


{% if include_nav == False %}
    {% if page_title %}
        {% set page_title_value = page_title %}
    {% else %}
        {% set page_title_value = 'FSDR' %}
    {% endif %}
    {% set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'logoHref': 'https://www.ons.gov.uk/',
        'titleLogo': '/img/census-logo-en.svg',
        'titleLogoAlt': 'Census 2021',
        'titleLogoHref': domain_url + '/signin',
    },
    } %}
{% elif dst_download %}
    {% set page_title_value = page_title %}
    {% set pageConfig = {
        'title': page_title_value,
        'theme': 'census',
        'header': {
            'logoHref': 'https://www.ons.gov.uk/',
            'titleLogo': '/img/census-logo-en.svg',
            'titleLogoAlt': 'Census 2021',
            'titleLogoHref': domain_url + '/signin',
            'navigation': 'Test1',
        },
        "navigation": {
            "id": "main-nav",
            "ariaLabel": "Main menu",
            "ariraListLabel": "Navigation menu",
            "currentPath": "/get-started",
            "itemsList": [
                {
                    "title": "Home",
                    "url": "/index"
                },
                {
                    "title": "Search",
                    "url": "/search"
                },
                {
                    "title": "Interface Action",
                    "url": "/interfaceactiontable"
                },
                {
                    "title": "Device",
                    "url": "/microservices/devicetableclear"
                },
                {
                    "title": "Gsuite",
                    "url": "/microservices/gsuitetableclear"
                },

                {
                    "title": "XMA",
                    "url": "/microservices/xmatableclear"
                },
                {
                    "title": "LWS",
                    "url": "/microservices/lwstableclear"
                },
                {
                    "title": "Service Now",
                    "url": "/microservices/servicenowtableclear"
                },

                {
                    "title": "Update",
                    "url": "/microservices/updatestatetableclear"
                },

                {
                    "title": "Request",
                    "url": "/microservices/requestlogtableclear"
                },

                {
                    "title": "Chromebook",
                    "url": "/microservices/chromebooktableclear"
                },

            ]
        }
    } %}
{% else %}
    {% set page_title_value = page_title %}
    {% set pageConfig = {
        'title': page_title_value,
        'theme': 'census',
        'header': {
            'logoHref': 'https://www.ons.gov.uk/',
            'titleLogo': '/img/census-logo-en.svg',
            'titleLogoAlt': 'Census 2021',
            'titleLogoHref': domain_url + '/signin',
            'navigation': 'Test1',
        },
        "navigation": {
            "id": "main-nav",
            "ariaLabel": "Main menu",
            "ariraListLabel": "Navigation menu",
            "currentPath": "/get-started",
            "itemsList": [
                {
                    "title": "Home",
                    "url": "/index"
                },
                {
                    "title": "Search",
                    "url": "/search"
                },
                {
                    "title": "Interface Action Table",
                    "url": "/interfaceactiontable"
                },
                {
                    "title": "Device Table",
                    "url": "/devicetable"
                }
            ]
        }
    } %}
{% endif %}
