{% extends 'custom/base/_template.njk' %}
{% from 'components/button/_macro.njk' import onsButton %}

{% if page_title %}
    {% set page_title_value = page_title %}
    {% set css_directory = "static/css/fsdr.css" %}
    {% set pageConfig = {
        'title': page_title_value,
        'theme': 'census',
        'header': {
            'logoHref': 'https://www.ons.gov.uk/',
            'titleLogo': '/img/census-logo-en.svg',
            'titleLogoAlt': 'Census 2021',
            'titleLogoHref': domain_url + '/signin',
            'navigation': 'Test1',
        },
        "navigation": {
            "id": "main-nav",
            "ariaLabel": "Main menu",
            "ariraListLabel": "Navigation menu",
            "currentPath": "/get-started",
            "itemsList": [
                {
                    "title": "Home",
                    "url": "/index+1"
                },
                {
                    "title": "Search",
                    "url": "/search"
                },
                {
                    "title": "Log out",
                    "url": "/logout"
                }
            ]
        }
    } %}
{% else %}
    {% set page_title_value = 'FSDR' %}
        {% set pageConfig = {
        'title': page_title_value,
        'theme': 'census',
        'header': {
            'logoHref': 'https://www.ons.gov.uk/',
            'titleLogo': '/img/census-logo-en.svg',
            'titleLogoAlt': 'Census 2021',
            'titleLogoHref': domain_url + '/signin',
        },
    } %}
{% endif %}



