{% extends 'base.html' %}

{% from 'components/lists/_macro.njk' import onsList %}
{% from 'components/input/_macro.njk' import onsInput %}
{% from "custom/dynamic_pagination/_macro.njk" import onsPagination %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "custom/fsdrsearch/_macro.njk" import fsdrSearch %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "custom/tabs/_macro.njk" import onsTabs %}
{% from 'components/radios/_macro.njk' import onsRadios %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}

{% set page_title_value = page_title %}

{% block pageContent %}
    {% block main %}
        <div class="grid">
            <div class="grid__col col-2@m"></div>
            <div class="grid__col col-8@m">
                <div class="table-scrollable__content">
                    <br>
                    <h1>Custom SQL Builder</h1>

	{% set col = namespace(value=-1) %}
	{% set row = namespace(value=0) %}
	{% set max_col = 2 %}
	{% for db_name in database_names %}
		<div id="accordion" class="accordion">
		<details id="accordion-1" class="details js-collapsible details--accordion details--initialised" data-btn-close="Hide" data-group="accordion" role="group">
		<summary class="details__summary js-collapsible-summary" role="link" aria-controls="accordion-1" aria-expanded="false" data-ga-action="Close panel">
		<div class="details__heading"><span class="details__title u-fs-r--b">Expand for {{ db_name }} Field Selection</span></div></summary>
		<div id="accordion-1-content" class="details__content js-collapsible-content" aria-hidden="true">
		<dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-l">
		<dt class="grid__col col-40@m">

		{% for field in fields.get(db_name) %}
			{{onsCheckbox({
				"id": field.database_name + 'include',
				"name": field.database_name + 'include',
				"label": {"text": 'Select to include "' + field.column_name + '" in results table'}, 
				"value": 'other',
				"other": {
					"id": "other-textbox",
					"name": "other-answer",
					"label": {
					"text": "Please specify other"}}
			})}}

		{% endfor %}
		</dt>
		<dd class="metadata__value grid__col col-40@m"></dd></dl></div>
		</details>
		</div>
	{% endfor %}
    {% endblock %}
{% endblock %}
