{% extends 'base.html' %}

{% from "custom/pagination/_macro.njk" import onsPagination %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "custom/fsdrsearch/_macro.njk" import fsdrSearch %}

{% set page_title_value = page_title %}
{% set index_url = "/devicetable" %}

{% set form =  {
    'method': 'POST',
    'attributes': {
            'action': url('DeviceSecondaryPage:post')
    }
} %}
{%  block page %}
    {% block preMain %}
    {% endblock %}
    {% block pageContent %}
        {% if messages_dict %}
            {% include 'partials/messages.html' with context %}
        {% endif %}
        <div class="grid">
            <div class="grid__col col-2@m"></div>
            <div class="grid__col col-8@m">
                <div class="table-scrollable__content">
                    <br>
                    <h1>{{ page_title_value }}</h1>
                    {{ fsdrSearch({
                            'index_search': "device", 
			    
				'previous_device_sent':previous_device_sent ,
				'previous_device_type':previous_device_type,
				'previous_device_id':previous_device_id ,
				'previous_field_device_phone_number': previous_field_device_phone_number,
				'previous_ons_id': previous_ons_id,

                    }) }}
                    {{ onsButton({
                        'text': 'Filter Device Table',
                        'classes': 'btn--small',
                        'submitType': "loader",
                        'name': 'action[submit]'
                    }) }}
                    {{ onsButton({
                        'text': 'Clear',
                        'type': 'reset',
                        'classes': 'btn--small',
                        'submitType': "loader",
                        'url': url('DeviceTable:get')
                    }) }}
                    <br>
                    <br>
                    {{  onsTable({
                        "sortable": true,
                        "table_class": " table--sortable",
                        "caption": "Devices",
                        "sort_by": "Sort by",
                        "aria_asc": "ascending",
                        "aria_desc": "descending",
                        "ths": table_headers,
                        "trs": device_records 
                        })
                    }}

                    <div class="page_numbering" align="center">
                        {{
                            onsPagination({
                                "called_from_index": True,
                                "previous": "Previous",
                                "next": "Next",
                                "last_page_number": last_page_number,
                                "page_number": page_number,
                                "link_url": 'DeviceTable:get'
                            })
                        }}
                    </div>
                </div>
            </div>
            <div class="grid__col col-2@m"></div>
        </div>
    {% endblock %}
{% endblock %}
