{% extends 'base.html' %}

{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "custom/tabs/_macro.njk" import onsTabs %}


{% set page_title_value = page_title %}
{% block pageContent %}
    {% block main %}
        <div class="grid">
            <div class="grid__col col-2@m"></div>
            <div class="grid__col col-8@m">
                {% if employee_record.status == 'ACTIVE' %}
                    {% set emp_status = 'Active' %}
                {% elif employee_record.status == 'INACTIVE' %}
                   {% set emp_status = 'Inactive' %}
                {% else %}
                    {% set emp_status = 'Left' %}
                {% endif %}
                <br>
                <div class="grid">
                    <div class=" grid__col col-9@m">
                        <h1>{{ page_title }}</h1>
                    </div>
                    <div class="grid--center grid__col col-3@m">
                        <h1>Status: {{ employee_status }}</h1>
                    </div>
                </div>
                {% if user_role != 'hr' %}
                    {{
                        onsTabs({
                            'tabs': [
                                {
                                    'title': 'Employee Information',
                                    'content': employee_record,
                                    'table': [{
                                        'section_header': 'Employee Device Details',
                                        'headers': device_headers,
                                        'records': device_data
                                        }]
                                 },
                                {
                                    'title': 'Employee History',
                                    'table': [{
                                        'section_header': 'Employee History',
                                        'headers': employment_history_headers,
                                        'records': employment_history_data
                                        },
                                        {
                                        'section_header': 'Employee Job Role History',
                                        'headers': employee_job_role_history_header,
                                        'records': employee_job_role_history_data
                                        }]
                                }
                            ]
                        })
                    }}
                {% else %}
                    {{
                        onsTabs({
                            'tabs': [
                                {
                                    'title': 'Employee Information',
                                    'content': employee_record,
                                 },
                                {
                                    'title': 'Employee History',
                                    'table': [{
                                        'section_header': 'Employee History',
                                        'headers': employment_history_headers,
                                        'records': employment_history_data
                                        }]
                                }
                            ]
                        })
                    }}
                {% endif %}
            </div>
            <div class="grid__col col-2@m"></div>
        </div>
    {% endblock %}
{% endblock %}