{% extends 'base.html' %}

{% from "components/content-pagination/_macro.njk" import onsContentPagination %}
{% from "custom/pagination/_macro.njk" import onsPagination %}
{% from "components/table/_macro.njk" import onsTable %}

{% set page_title_value = page_title %}
{% set index_url = "/index+" %}

{% block pageContent %}
    {% block main %}
        {% if messages_dict %}
            {% include 'partials/messages.html' with context %}
        {% endif %}

        {% if 'no_employee_data' in field_messages_dict %}
            {% call
                onsPanel({
                    'title': 'Please trye a different search term',
                    'type': 'error'
                }) %}
                {{ onsList({
                    'id': 'incor_signin',
                    'classes': 'list--bare list--errors u-mb-s',
                    'itemsList': [
                        {
                            'text': 'No employee data found'
                        }
                    ]
                }) }}
                {{ user_input }}
                {{ password_input }}
            {% endcall %}
        {% endif %}
        <div class="grid">
            <div class="grid__col col-2@m"></div>
            <div class="grid__col col-8@m">
                <div style="overflow-x: auto; width: 100%">
                    <br>
                    <h1>{{ page_title_value }}</h1>
                    <form class="form-inline" id="user_filter" action="/search+0+true+default+default" method="post">
                        <table>
                            <label class="label" for="text">Filter on field workers</label>
                            <tr>
                                <th>
                                    <label class="label" for="select" style="text-align: left">Job Role ID</label>
                                    <select id="user_select" name="job_role_select" class="input input--select ">
                                      {% if previous_select %}
                                        {% set check_drop_value = previous_select %}
                                        <option value="{{ previous_select }}" selected="selected">
                                            {{ previous_select }}
                                        </option>
                                        <option value="" disabled>
                                            Select an option
                                        </option>
                                        {% for job_role in distinct_job_roles %}
                                            {% if job_role == selected_job_role %}
                                            {% else %}
                                              <option value="{{ job_role }}" name="{{ job_role }}">
                                                {{ job_role }}
                                              </option>
                                            {% endif %}
                                        {% endfor %}
                                      {% else %}
                                        <option value="" selected disabled>
                                            Select an option
                                        </option>
                                        {% for job_role in distinct_job_roles %}
                                          <option value="{{ job_role }}" name="{{ job_role }}">
                                          {{ job_role }}
                                          </option>
                                        {% endfor %}
                                      {% endif %}
                                      </select>
                                </th>
                                <td>
                                    <label class="label" for="text" style="text-align: left">Worker Surname</label>
                                    <input id="user_select" name="filter_surname" class="input input--text input-type__input">
                                </td>
                                <td>
                                    <label class="label" for="text" style="text-align: left">Area</label>
                                    <input id="user_select" name="filter_area" class="input input--text input-type__input">
                                </td>
                            </tr>
                        </table>
                        <br>
                        {{ onsButton({
                            'text': 'Filter',
                            'classes': 'btn--small',
                            'submitType': "loader",
                            'name': 'action[submit]'
                        }) }}
                        {{ onsButton({
                            'text': 'Clear',
                            'classes': 'btn--small',
                            'submitType': "loader",
                            'url': '/index+1'
                        }) }}
                    </form>

                    <table class="table  table--sortable  table-scrollable--on" data-aria-sort="Sort by"
                           data-aria-asc="ascending" data-aria-desc="descending">
                        <caption class="table__caption"><br>Field Workers</caption>
                        <thead class="table__head">
                        <tr class="table__row">
                            <th scope="col" class="table__header " aria-sort="none">ID</th>
                            <th scope="col" class="table__header " aria-sort="none">Name</th>
                            <th scope="col" class="table__header " aria-sort="none">Job Role ID</th>
                            <th scope="col" class="table__header " aria-sort="none">Job Role</th>
                            <th scope="col" class="table__header " aria-sort="none">Area</th>
                            <th scope="col" class="table__header " aria-sort="none">Asgmt. Status</th>
                            <th scope="col" class="table__header " aria-sort="none">Emp. Details</th>
                        </tr>
                        </thead>
                        <tbody class="table__body">
                        {% for employee in employee_records %}
                            <tr class="table__row" style="text-align: center">
                                <td class="table__cell ">
                                    {{ employee.unique_employee_id }}
                                </td>
                                <td class="table__cell ">
                                    {{ employee.first_name + " " + employee.surname }}
                                </td>
                                <td class="table__cell ">
                                    {{ employee.unique_role_id }}
                                </td>
                                <td class="table__cell ">
                                    {{ employee.job_role }}
                                </td>
                                <td class="table__cell ">
                                    {{ employee.area_location }}
                                </td>
                                <td class="table__cell ">
                                    {{ employee.assignment_status }}
                                </td>
                                <td class="table__cell ">
                                    {#                      {% set employee_url = "/employeeinformation/" + employee.uniqueEmployeeId %}#}
                                    {#                      <a href = {{ url_for( 'EmployeeInformation', employee_id=employee.uniqueEmployeeId) }}>View Field Worker</a>#}
                                    <a href="/employeeinformation/{{ employee.unique_employee_id }}">View Field Worker</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if last_page_number|float %}
                        {%  set last_page = (last_page_number|int + 1) %}
                    {% else %}
                        {% set last_page = last_page_number|int %}
                    {% endif %}

                    {% set count = [0] %}

                    {% set pagination_array = [] %}

                    {% for x in range(last_page|int) %}
                        {% if x == 0 %}
                            {% set pagination_array = [{"url": "/index+1", "current": false}] %}
                        {% elif x == page_number %}
                            {% set set_url = index_url + x|string %}
                            {% set pagination_array = pagination_array.append({"url": set_url, "current": true}) %}
                        {% else %}
                            {% set set_url = index_url + x|string %}
                            {% set pagination_array = pagination_array.append({"url": set_url, "current": false}) %}
                        {% endif %}
                        {% set count = count.append(count.pop() + 1) %}
                    {% endfor %}

                    <div class="page_numbering" align="center">
                        {{
                            onsPagination({
                                "previous": "Previous",
                                "next": "Next",
                                "pages": pagination_array
                            })
                        }}
                    </div>
                </div>
            </div>
            <div class="grid__col col-2@m"></div>
        </div>
    {% endblock %}
{% endblock %}