{% extends 'base.html' %}

{% from "custom/fsdrsearch/_macro.njk" import fsdrSearch %}
{% from 'components/radios/_macro.njk' import onsRadios %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from 'components/question/_macro.njk' import onsQuestion %}
{% from "components/input/_macro.njk" import onsInput %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/panel/_macro.njk' import onsPanel %}



{% set page_title_value = page_title %}
{% set index_url = "/interfaceactiontable" %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('SecondaryPage:post')
    }
} %}

{% block pageContent %}
    {% block main %}
        <div class="page__container container">
            <div class="grid">
                <div class="grid__col col-2@m"></div>
                <div class="grid__col col-8@m">
                    <main id="main-content" class="page__main">
                        <div class="search">
                            <h1>{{ page_title_value }}</h1>
                            {% if no_search_criteria == "True" %}
                                {% call onsPanel({
                                        "title": "No Search criteria",
                                        "titleTag": "h1",
                                        "type": "error"
                                }) %}
                                <p>Please include search criteria</p>
                                {% endcall %}
                            {% endif %}
                            {{ fsdrSearch({
                                    'distinct_job_roles': distinct_job_roles,
                                    'all_assignment_statuses': all_assignment_statuses,
                                    'index_search': False

                            }) }}

                            {{ onsButton({
                                'text': 'Submit THIS  SHOWS THE CORRECT PAGE LOAD',
                                'classes': 'btn--small',
                                'submitType': "loader",
                                'name': 'action[submit]'
                            }) }}
                            {{ onsButton({
                                'text': 'Clear THIS  SHOWS THE CORRECT PAGE LOAD',
                                'classes': 'btn--small',
                                'submitType': "loader",
                                'url': '/search'
                            }) }}
                        </div>
                    </main>
                </div>
                <div class="grid__col col-2@m"></div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
