{% extends 'base.html' %}

{% from "custom/pagination/_macro.njk" import onsPagination %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "custom/fsdrsearch/_macro.njk" import fsdrSearch %}

{% set page_title_value = page_title %}
{% set index_url = "/interfaceactiontable" %}

{% set form =  {
    'method': 'POST',
    'attributes': {
            'action': url('SecondaryPage:post')
    }
} %}
{%  block page %}
    {% block preMain %}
    {% endblock %}
    {% block pageContent %}
        {% if messages_dict %}
            {% include 'partials/messages.html' with context %}
        {% endif %}
        <div class="grid">
            <div class="grid__col col-2@m"></div>
            <div class="grid__col col-8@m">
                <div class="table-scrollable__content">
                    <br>
                    <h1>{{ page_title_value }}</h1>
                    {{ fsdrSearch({
                            'distinct_job_roles': distinct_job_roles,
                            'previous_select': previous_select,
                            'previous_jobrole_selected': previous_jobrole_selected,
                            'previous_area': previous_area,
                            'previous_surname_filter': previous_surname_filter,
                            'index_search': True
                    }) }}
                    {{ onsButton({
                        'text': 'Filter THIS SHOWS DIFFERENCE',
                        'classes': 'btn--small',
                        'submitType': "loader",
                        'name': 'action[submit]'
                    }) }}
                    {{ onsButton({
                        'text': 'Clear THIS SHOWS DIFFERENCE',
                        'type': 'reset',
                        'classes': 'btn--small',
                        'submitType': "loader",
                        'url': url('InterfaceActionTable:get')
                    }) }}
                    <br>
                    <br>
                    {{  onsTable({
                        "sortable": true,
                        "table_class": " table--sortable",
                        "caption": "Field Workers",
                        "sort_by": "Sort by",
                        "aria_asc": "ascending",
                        "aria_desc": "descending",
                        "ths": table_headers,
                        "trs": employee_records
                        })
                    }}

                    <div class="page_numbering" align="center">
                        {{
                            onsPagination({
                                "called_from_index": True,
                                "previous": "Previous",
                                "next": "Next",
                                "last_page_number": last_page_number,
                                "page_number": page_number,
                                "link_url": 'InterfaceActionTable:get'
                            })
                        }}
                    </div>
                </div>
            </div>
            <div class="grid__col col-2@m"></div>
        </div>
    {% endblock %}
{% endblock %}
