{% extends 'base.html' %}

{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from 'components/lists/_macro.njk' import onsList %}
{% from 'components/input/_macro.njk' import onsInput %}
{% from "custom/dynamic_pagination/_macro.njk" import onsPagination %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "custom/fsdrsearch/_macro.njk" import fsdrSearch %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "custom/tabs/_macro.njk" import onsTabs %}

{% set page_title_value = page_title %}

{% set form =  {
    'method': 'POST',
    'id': 'searchform',
    'attributes': {
        'action': current_view.url
    }
} %}

{% block pageContent %}

{% if called_from_index == 'customsql'  %}
{{ onsPhaseBanner({
        "badge": "BETA",
        "html": 'This is a new service – Your feedback will help us improve it.'})}}
{% endif %}
    {% block main %}
        <div class="grid">
            <div class="grid__col col-2@m"></div>
            <div class="grid__col col-8@m">
                <div class="table-scrollable__content">
                    <br>
                    <h1>{{ page_title_value }}</h1>
		    {% if not current_view.hide_search_criteria %}
                        {{ fsdrSearch({
                            'index_search': "microservice",
			    'microservice_name': current_view.database_name,
			    'microservice_title':current_view.display_name,
			    'search_section_accordioned': current_view.search_section_accordioned,
			    'Fields': Fields,
                	}) }}
                        {{ onsButton({
                            'text': current_view.filter_button_label,
                            'classes': 'btn--small',
                            'submitType': "loader",
                            'name': 'action[submit]'
                        }) }}
		    	{{ onsButton({
				'text': 'Clear',
				'classes': 'btn--small',
				'submitType': "loader",
				'url': current_view.url_clear
			}) }}
			{% if current_view.download_available %}
				{{ onsButton({
					'text': 'Download CSV',
					'classes': 'btn--small',
					'submitType': "loader",
					'url': '/downloads/' + current_view.database_name
				}) }}
			{% endif %}
		{% else %}
		    	{{ onsButton({
				'text': 'Back  to Search',
				'classes': 'btn--small',
				'submitType': "loader",
				'url': current_view.url
			}) }}
		{% endif %} 
		    <br>
                    {% if no_records == 'true' %}
                        <br>
                        {% call onsPanel({
                            "title": "No device data",
                            "titleTag": "h1",
                            "type": "error"
                            }) %}
                            <p>No employee records have been found</p>
                        {% endcall %}
		    {% elif current_view.hide_table %}
		    	<br>
                    {% else %} 
                        <br>
                        {{  onsTable({
                            "sortable": true,
                            "table_class": " table--sortable",
                            "caption": result_message,
                            "sort_by": "Sort by",
                            "aria_asc": "ascending",
                            "aria_desc": "descending",
                            "ths": table_headers,
                            "trs": table_records, 
                        })}}

                        <div class="page_numbering" align="center">
			{{onsPagination({
				"called_from_index": True,
				"previous": "Previous",
				"next": "Next",
				"last_page_number": last_page_number,
				"page_number": page_number,
				"link_url": 'MicroservicesTable:get',
				"microservice_name": current_view.database_name,
				"called_from_index": called_from_index,
				"custom_url" :  'CustomSQLStart:post',
			})}}

                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="grid__col col-2@m"></div>
        </div>
    {% endblock %}
{% endblock %}
</script>
