{% extends 'base.html' %}

{% from 'components/input/_macro.njk' import onsInput %}
{% from 'components/lists/_macro.njk' import onsList %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}

{% set page_title_value = page_title %}
{% set index_url = "/search" %}

{% block pageContent %}
    {% block main %}

        <div class="page__containter container">
            <div class="grid">
                <div class="grid__col col-2@m"></div>
                <div class="grid__col col-8@m">
                    <main id="main-content" class="page__main">
                        <div class="search">
                            <h1>{{ page_title_value }}</h1>
                            {% if no_search_criteria == "True" %}
                                {% call onsPanel({
                                        "title": "No Search criteria",
                                        "titleTag": "h1",
                                        "type": "error"
                                }) %}
                                <p>Please include search criteria</p>
                                {% endcall %}
                            {% endif %}
                            <h2>Search for field workers</h2>
                            <form class="form-inline" id="user_filter" action="/search+0+false+default+default" method="post">
                                <legend class="fieldset__legend u-vh">Search for field workers</legend>
                                <fieldset class="fieldset">
                                    <p class="field">
                                        <label class="label">First Name</label>
                                        <input id="user_select" name="filter_firstname" class="input input--text input-type__input">
                                    </p>
                                    <p class="field">
                                        <label class="label">Second Name</label>
                                        <input id="user_select" name="filter_surname" class="input input--text input-type__input">
                                    </p>
                                    <p class="field">
                                        <label class="label">ID Badge Number</label>
                                        <input id="user_select" name="filter_badge" class="input input--text input-type__input">
                                    </p>
                                    <p class="field">
                                        <label class="label">Area</label>
                                        <input id="user_select" name="filter_area" class="input input--text input-type__input">
                                    </p>
                                    <p class="field">
                                        <label class="label" for="select" style="text-align: left">Job Role</label>
                                        <select id="user_select_job_role" name="job_role_select" class="input input--select ">
                                            <option value="" selected disabled>
                                                Select a job role
                                            </option>
                                            {% for job_role in distinct_job_roles %}
                                              <option value="{{ job_role }}" name="{{ job_role }}">
                                              {{ job_role }}
                                              </option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p class="field">
                                        <label class="label">Job ID</label>
                                        <input id="user_select" name="filter_jobid" class="input input--text input-type__input">
                                    </p>
                                    <p class="field">
                                        <label class="label">Assignment Status</label>
                                        <select id="user_select_assignment" name="assignment_select" class="input input--select ">
                                            <option value="" selected disabled>
                                                Select an assignment status
                                            </option>
                                            {% for assignment in all_assignment_statuses %}
                                              <option value="{{ assignment }}" name="{{ assignment }}">
                                              {{ assignment }}
                                              </option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <br>
                                    {{ onsButton({
                                        'text': 'Search',
                                        'classes': 'btn--small',
                                        'submitType': "loader",
                                        'name': 'action[submit]'
                                    }) }}
                                    {{ onsButton({
                                        'text': 'Clear',
                                        'classes': 'btn--small',
                                        'submitType': "loader",
                                        'url': '/search'
                                    }) }}
                                </fieldset>
                            </form>
                        </div>
                    </main>
                </div>
                <div class="grid__col col-2@m"></div>
            </div>
        </div>
    {% endblock %}
{% endblock %}